body {
	background-color: #241B1C;
	font-family: 'Ubuntu Condensed', sans-serif;
}
p {
	color: wheat;
	font-size: 30px;
}
.hdrbtn {
	font-size: 25px;
	margin-left: 25px;
	color: black;
	padding: 3px;
	background-color: darkgray;
	border: 2px solid black;
}
h1 {
	color: #EBD8C9;
	font-size: 50px;
	margin-top: 20px;
	font-family: 'Balsamiq Sans', sans-serif;
	text-align: center;
}
h2 {
	color: #EBD8C9;
	font-size: 50px;
	margin-top: 20px;
}

.gallery {
	display: flex;
	text-align: center;
	margin-top: 100px;
	justify-content: center;
	gap: 3em;
}


.twitch {
	width: 45%;
	background-color: #1c1516;
}
.twitch_img {
	width: 100%;
}

.winterupd {
	width: 45%;
	background-color: #1c1516;
}
.winterupd_img {
	width: 100%;
}