body{
	background-color: #241B1C;
}

.header{
	position: fixed;
	background-color: #00000050;
	padding: 2%;

	top: 0;
	left: 0;
	width: 100%;
	display: flex;
}
.header_nav{
	width: 100%;
}
.header_text{
	color: #EBD8C9;
	text-decoration: none;
	font-size: 150%;
	padding: 2%;
	widows: 100%;
}

.title{
	color: #EBD8C9;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}

.zaba_ava{
	max-width: 565px;
	max-height: 565px;
}
