body{
	background-color: #241B1C;
}
h1{
	color: #EBD8C9;
}
h2{
	color: #EBD8C9;
}
h3{
	color: #EBD8C9;
}

.hat{
	font-size: 200%;
	background-color: #00000030;
	padding: 0.75%;
}
.header{
	color: #EBD8C9;
}



.welcome_text{
	text-align: center;
	font-size: 200%;
	min-width: 50%;
	text-shadow: #0000;
}


.zaba_ava{
	margin-top: 100px;
	margin-left: 0.2%;
	width: 60%;
	height: 60%;
	max-width: 565px;
	max-height: 580px;
}