body{
	background-color: #241B1C;
}

.header{
	background-color: #00000050;
	padding: 2%;

	top: 0;
	left: 0;
	width: 100%;
	display: flex;
}
.header_nav{
	width: 100%;
}
.header_text{
	color: #EBD8C9;
	text-decoration: none;
	font-size: 150%;
	padding: 2%;
	widows: 100%;
}




.title{
	color: #EBD8C9;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}



.projects{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
}


}
.project{
	text-align: center;
    width: 30%;
    margin: 10px;
	background-color: #00000030;
}


.zaba_ava{
	width: 100%;
}

footer {
	text-align: center;
    padding: 10px;
    background-color: #100c0b;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}





@media screen and (min-width: 1080px){
	.projects{
		display: flex;
    	flex-wrap: wrap;
    	justify-content: space-around;
    	padding: 20px;
}
	}
	.project img {
	    max-width: 100%;
    	height: auto;
    	max-height: 500px;
	}


}
